{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrapio",
    "version": "1.0.0",
    "description": "Turn any URL into structured data. Fetch raw HTML, crawl sites, extract structured content, interact with dynamic pages, and search the web through one API.",
    "contact": {
      "name": "Scrapio Support",
      "url": "https://scrapio.dev"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.scrapio.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "System"
    },
    {
      "name": "Fetch"
    },
    {
      "name": "Crawl"
    },
    {
      "name": "Map"
    },
    {
      "name": "Interact"
    },
    {
      "name": "Search"
    },
    {
      "name": "Google"
    },
    {
      "name": "Fast Search"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "YouTube"
    },
    {
      "name": "Amazon"
    },
    {
      "name": "Walmart"
    },
    {
      "name": "Booking"
    },
    {
      "name": "Agoda"
    },
    {
      "name": "Airbnb"
    },
    {
      "name": "AutoTrader"
    },
    {
      "name": "ChatGPT"
    },
    {
      "name": "Perplexity"
    },
    {
      "name": "Gemini"
    },
    {
      "name": "Bing"
    },
    {
      "name": "Reddit"
    },
    {
      "name": "TikTok"
    },
    {
      "name": "Apple App Store"
    },
    {
      "name": "Target"
    },
    {
      "name": "Monitors"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/fetch": {
      "post": {
        "tags": [
          "Fetch"
        ],
        "summary": "Fetch and render a URL",
        "description": "Fetches a URL and returns its content as HTML, Markdown, JSON, or a screenshot. Set `render_js: true` to execute JavaScript before capturing the output. Requests that exceed 15 seconds are automatically promoted to async jobs and return a `job_id` to poll.",
        "operationId": "createFetch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Fetch a page as Markdown",
                  "value": {
                    "url": "https://example.com",
                    "output": [
                      "markdown"
                    ]
                  }
                },
                "js_render": {
                  "summary": "Render JavaScript and extract structured data",
                  "value": {
                    "url": "https://news.ycombinator.com",
                    "render_js": true,
                    "output": [
                      "json"
                    ],
                    "extract": {
                      "mode": "schema",
                      "schema": {
                        "top_stories": "array of story titles"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inline fetch completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineFetchResponse"
                }
              }
            }
          },
          "202": {
            "description": "Request exceeded inline timeout; async job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Extraction validation failed on the fetched content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Target site blocked or rejected the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Browser or proxy backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/fetch \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\":\"https://example.com\",\"output\":[\"markdown\"]}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/fetch\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"url\": \"https://example.com\", \"output\": [\"markdown\"]},\n)\nprint(resp.json()[\"outputs\"][\"markdown\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/fetch\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ url: \"https://example.com\", output: [\"markdown\"] }),\n});\nconst data = await resp.json();\nconsole.log(data.outputs.markdown);"
          }
        ]
      }
    },
    "/v1/google/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search Google",
        "description": "Execute a Google search and receive structured SERP results including organic results, ads, images, news, shopping, and maps. Supports classic, news, images, maps, shopping, and AI-mode search types with locale and device targeting.",
        "operationId": "googleSearch",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Type of Google search to perform",
              "type": "string",
              "enum": [
                "classic",
                "news",
                "images",
                "lens",
                "ai_mode",
                "ads"
              ]
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for localized results",
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Device profile to emulate",
              "type": "string",
              "enum": [
                "desktop",
                "mobile"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Result page number",
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Time filter for results",
              "type": "string",
              "enum": [
                "past_hour",
                "past_day",
                "past_week",
                "past_month",
                "past_year"
              ]
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Latitude for local results",
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Longitude for local results",
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Search radius for local results",
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "extra_params",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Raw extra query parameters",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "light_request",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Lighter-weight response",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "add_html",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Include raw HTML in response",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "nfpr",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Disable auto-correct redirect",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Custom tag/label for the request",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Google SERP response with organic results, ads, and enrichments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleSearchSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Google rate-limited or CAPTCHA-challenged the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Google blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Google execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/google/search?search=openai&search_type=classic&country_code=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/google/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"search\": \"openai\", \"country_code\": \"us\"},\n)\nprint(resp.json()[\"organic_results\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ search: \"openai\", country_code: \"us\" });\nconst resp = await fetch(`https://api.scrapio.dev/v1/google/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data.organic_results);"
          }
        ]
      }
    },
    "/v1/airbnb/search": {
      "get": {
        "tags": [
          "Airbnb"
        ],
        "summary": "Search Airbnb listings",
        "description": "Searches Airbnb listings for a free-text location, returning structured results (name, price, rating, images, and more). Backed by a maintained third-party `airbnb` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "searchAirbnb",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Free-text location to search, e.g. 'New York'"
            }
          },
          {
            "name": "check_in",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Check-in date (YYYY-MM-DD)",
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "check_out",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Check-out date (YYYY-MM-DD)",
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of adult guests",
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "children",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of child guests",
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "infants",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of infant guests",
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "pets",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of pets",
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Airbnb search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirbnbSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Airbnb dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Airbnb upstream failed or returned an unparseable page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Airbnb execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/airbnb/search?location=New%20York&check_in=2026-09-01&check_out=2026-09-05&adults=2\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/airbnb/listing": {
      "get": {
        "tags": [
          "Airbnb"
        ],
        "summary": "Get Airbnb listing details",
        "description": "Retrieves structured detail for a single Airbnb listing by numeric id (from a search result). Backed by a maintained third-party `airbnb` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "getAirbnbListing",
        "parameters": [
          {
            "name": "listing_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "check_in",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Check-in date (YYYY-MM-DD)",
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "check_out",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Check-out date (YYYY-MM-DD)",
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of adult guests",
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Airbnb listing details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirbnbListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid listing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Airbnb dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested listing could not be found or parsed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Airbnb upstream failed or returned an unparseable page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Airbnb execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/airbnb/listing?listing_id=1706670209492936270\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/autotrader/search": {
      "get": {
        "tags": [
          "AutoTrader"
        ],
        "summary": "Search AutoTrader UK car listings",
        "description": "Searches AutoTrader UK (autotrader.co.uk) car listings near a postcode, returning structured results (title, price, mileage, year, location, and more). Backed by a maintained third-party `autotrader` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "searchAutotrader",
        "parameters": [
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "UK postcode to anchor the search, e.g. 'SW1A 1AA'"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Search radius in miles",
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "make",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Vehicle make, e.g. 'BMW'",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "model",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Vehicle model, e.g. '3 Series'",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Minimum registration year",
              "type": "integer",
              "minimum": 1900,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Maximum registration year",
              "type": "integer",
              "minimum": 1900,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "exclude_writeoffs",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Exclude write-off category vehicles",
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Result page number",
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the request, e.g. 'gb'",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured AutoTrader search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutotraderSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "AutoTrader dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "AutoTrader upstream failed or returned an unusable page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "AutoTrader execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/autotrader/search?postcode=SW1A%201AA&make=BMW&model=3%20Series&year_from=2018\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/autotrader/listing": {
      "get": {
        "tags": [
          "AutoTrader"
        ],
        "summary": "Get an AutoTrader UK listing",
        "description": "Retrieves structured detail for a single AutoTrader UK (autotrader.co.uk) listing by numeric id (from a search result URL). Backed by the same `autotrader` Web Scraping API target as search. Requires a Starter plan or higher.",
        "operationId": "getAutotraderListing",
        "parameters": [
          {
            "name": "listing_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the request, e.g. 'gb'",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured AutoTrader listing details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutotraderListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid listing parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "AutoTrader dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested listing could not be found or parsed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "AutoTrader upstream failed or returned an unusable page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "AutoTrader execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/autotrader/listing?listing_id=202606053030491\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/chatgpt/prompt": {
      "get": {
        "tags": [
          "ChatGPT"
        ],
        "summary": "Query ChatGPT",
        "description": "Sends a prompt to ChatGPT and returns the structured response (text, Markdown, citations, and web search queries used). Backed by a maintained third-party `chatgpt` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "promptChatgpt",
        "parameters": [
          {
            "name": "prompt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4000,
              "description": "The prompt sent to ChatGPT"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Activate ChatGPT's web search functionality for this prompt",
              "type": "boolean"
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the prompt",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured ChatGPT response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatgptPromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid prompt parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "ChatGPT dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "ChatGPT upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "ChatGPT execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/chatgpt/prompt?prompt=What%20are%20the%20top%20tourist%20attractions%20in%20Paris%3F&search=true\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/perplexity/prompt": {
      "get": {
        "tags": [
          "Perplexity"
        ],
        "summary": "Query Perplexity",
        "description": "Sends a prompt to Perplexity (which always performs a live web search) and returns the structured response: answer Markdown, suggested related queries, and cited sources. Backed by a maintained third-party `perplexity` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "promptPerplexity",
        "parameters": [
          {
            "name": "prompt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 8000,
              "description": "The prompt sent to Perplexity"
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the prompt",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Perplexity response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PerplexityPromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid prompt parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Perplexity dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Perplexity upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Perplexity execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/perplexity/prompt?prompt=Top%203%20tips%20to%20improve%20productivity%20while%20working%20from%20home\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/gemini/prompt": {
      "get": {
        "tags": [
          "Gemini"
        ],
        "summary": "Query Gemini",
        "description": "Sends a prompt to Gemini and returns the structured response (text, Markdown, and citations). Backed by a maintained third-party `gemini` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "promptGemini",
        "parameters": [
          {
            "name": "prompt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 8000,
              "description": "The prompt sent to Gemini"
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the prompt",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Gemini response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeminiPromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid prompt parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Gemini dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Gemini upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Gemini execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/gemini/prompt?prompt=Moon%20Landing\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/bing/search": {
      "get": {
        "tags": [
          "Bing"
        ],
        "summary": "Search Bing",
        "description": "Searches Bing and returns structured organic and paid (sponsored) results. Backed by a maintained third-party `bing_search` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "searchBing",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the query",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Bing web interface language",
              "type": "string",
              "minLength": 2,
              "maxLength": 16
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Top-level domain to search, e.g. 'co.uk'",
              "type": "string",
              "minLength": 2,
              "maxLength": 16
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Starting page number (1-100)",
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page_count",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of result pages to fetch (1-10)",
              "type": "integer",
              "minimum": 1,
              "maximum": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Bing search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BingSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Bing search requires a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Bing upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Bing execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/bing/search?search=laptop\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/reddit/post": {
      "get": {
        "tags": [
          "Reddit"
        ],
        "summary": "Get a Reddit post",
        "description": "Retrieves a Reddit post and its top-level comments. Backed by a maintained third-party `reddit_post` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "getRedditPost",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Reddit post URL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Reddit post and comments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedditPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Reddit dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested post could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Reddit upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Reddit execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/reddit/post?url=https%3A%2F%2Fwww.reddit.com%2Fr%2Fnba%2Fcomments%2F17jrqc5%2F\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/reddit/subreddit": {
      "get": {
        "tags": [
          "Reddit"
        ],
        "summary": "Get a subreddit's post feed",
        "description": "Retrieves a subreddit's post feed. Accepts either `subreddit` (bare name) or a full `url`. Backed by a maintained third-party `reddit_subreddit` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "getRedditSubreddit",
        "parameters": [
          {
            "name": "subreddit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Subreddit name, e.g. 'nba' (without r/)",
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Full subreddit URL",
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured subreddit post feed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedditSubredditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing both subreddit and url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Reddit dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested subreddit could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Reddit upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Reddit execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/reddit/subreddit?subreddit=nba\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/reddit/user": {
      "get": {
        "tags": [
          "Reddit"
        ],
        "summary": "Get a Reddit user's activity feed",
        "description": "Retrieves a Reddit user's mixed post/comment activity feed. Accepts either `username` (bare name) or a full `url`. Backed by a maintained third-party `reddit_user` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "getRedditUser",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Reddit username, e.g. 'spez' (without u/)",
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Full user profile URL",
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Reddit user activity feed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedditUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing both username and url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Reddit dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested user could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Reddit upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Reddit execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/reddit/user?username=spez\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/product-hunt/leaderboard": {
      "get": {
        "tags": [
          "Product Hunt"
        ],
        "summary": "Get the Product Hunt leaderboard",
        "description": "Retrieves the Product Hunt leaderboard for a given period. Fast, but only returns the first ~19-35 products (the page's initial render, no scrolling) -- always `truncated: true`. For the complete list, use `GET /v1/product-hunt/leaderboard/crawl` instead. Self-hosted extraction behind a Cloudflare bypass. Requires a Starter plan or higher.",
        "operationId": "getProductHuntLeaderboard",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Leaderboard window (default daily)",
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Date the leaderboard is anchored to (YYYY-MM-DD, daily/weekly only). Defaults to today.",
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Topic slug to filter by, e.g. 'artificial-intelligence'",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Product Hunt leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductHuntLeaderboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid period, date, or category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Product Hunt dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Product Hunt upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Product Hunt execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/product-hunt/leaderboard?period=daily\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/product-hunt/leaderboard/crawl": {
      "get": {
        "tags": [
          "Product Hunt"
        ],
        "summary": "Queue a Product Hunt leaderboard crawl job",
        "description": "Submits a Product Hunt leaderboard scrape as an async job that scrolls to the leaderboard's genuine end, returning a `job_id` to poll via `GET /v1/jobs/{id}` and `GET /v1/jobs/{id}/result`. Requires a Starter plan or higher.",
        "operationId": "queueProductHuntLeaderboardCrawl",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Leaderboard window (default daily)",
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Date the leaderboard is anchored to (YYYY-MM-DD, daily/weekly only). Defaults to today.",
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Topic slug to filter by, e.g. 'artificial-intelligence'",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Product Hunt leaderboard crawl job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid period, date, or category.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Product Hunt dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/product-hunt/leaderboard/crawl?period=monthly\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/product-hunt/product": {
      "get": {
        "tags": [
          "Product Hunt"
        ],
        "summary": "Get a Product Hunt product page",
        "description": "Retrieves a Product Hunt product's launch page: tagline, topics, upvotes, makers, and optionally top-level comments. Accepts either `slug` or a full `url`. Self-hosted extraction behind a Cloudflare bypass. Requires a Starter plan or higher.",
        "operationId": "getProductHuntProduct",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Product Hunt post slug, e.g. 'scrapio'",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Full Product Hunt product URL",
              "type": "string",
              "format": "uri"
            }
          },
          {
            "name": "include_comments",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Include top-level discussion comments (default false)",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string",
                  "enum": [
                    "true",
                    "false"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Product Hunt product page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductHuntProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing both slug and url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Product Hunt dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested product could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Product Hunt upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Product Hunt execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/product-hunt/product?slug=scrapio\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/product-hunt/maker": {
      "get": {
        "tags": [
          "Product Hunt"
        ],
        "summary": "Get a maker's profile",
        "description": "Retrieves a Product Hunt maker's profile: headline, follower count, launched products, and social links. Accepts either `username` or a full `url`. Self-hosted extraction behind a Cloudflare bypass. Requires a Starter plan or higher.",
        "operationId": "getProductHuntMaker",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Product Hunt username, e.g. 'rrhoover' (without @)",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Full Product Hunt profile URL",
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Product Hunt maker profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductHuntMakerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing both username and url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Product Hunt dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested maker could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Product Hunt upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Product Hunt execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/product-hunt/maker?username=rrhoover\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/tiktok/post": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "Get a TikTok post",
        "description": "Retrieves structured metadata for a TikTok video post: description, author, engagement stats, video/cover URLs, and music. Backed by a maintained third-party `tiktok_post` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "getTikTokPost",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "TikTok post (video) URL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured TikTok post details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TikTokPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "TikTok dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested post could not be found or parsed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "TikTok upstream failed or returned an unparseable page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "TikTok execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/tiktok/post?url=https%3A%2F%2Fwww.tiktok.com%2F%40scout2015%2Fvideo%2F6718335390845095173\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/apple-app-store/app": {
      "get": {
        "tags": [
          "Apple App Store"
        ],
        "summary": "Get an Apple App Store app listing",
        "description": "Retrieves structured metadata for an Apple App Store app listing: name, description, price, category, rating, and developer. Backed by a maintained third-party `apple_app_store` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "getAppleAppStoreApp",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "description": "Apple App Store app listing URL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Apple App Store app details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppleAppStoreResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Apple App Store dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested app could not be found or parsed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Apple App Store upstream failed or returned an unparseable page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Apple App Store execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/apple-app-store/app?url=https%3A%2F%2Fapps.apple.com%2Fus%2Fapp%2Ftiktok%2Fid835599320\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/target/product": {
      "get": {
        "tags": [
          "Target"
        ],
        "summary": "Get a Target product",
        "description": "Retrieves structured product details from Target.com: price, brand, rating, category, images, and description. Backed by a maintained third-party `target_product` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "getTargetProduct",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$|^\\d{10}$"
            }
          },
          {
            "name": "delivery_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery method",
              "type": "string",
              "enum": [
                "pickup",
                "delivery",
                "shipping"
              ]
            }
          },
          {
            "name": "delivery_zip",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Zip code for delivery/shipping (required with those delivery types)",
              "type": "string",
              "minLength": 3,
              "maxLength": 10
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Target store ID (required for pickup)",
              "type": "string",
              "minLength": 3,
              "maxLength": 4
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the request",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Target product details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid product_id or delivery parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Target dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "The requested product could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Target upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Target execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/target/product?product_id=92186007\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/target/search": {
      "get": {
        "tags": [
          "Target"
        ],
        "summary": "Search Target.com",
        "description": "Searches Target.com and returns structured product results. Backed by a maintained third-party `target_search` Web Scraping API target. Requires a Starter plan or higher.",
        "operationId": "searchTarget",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "delivery_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery method",
              "type": "string",
              "enum": [
                "pickup",
                "delivery",
                "shipping"
              ]
            }
          },
          {
            "name": "delivery_zip",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Zip code for delivery/shipping (required with those delivery types)",
              "type": "string",
              "minLength": 3,
              "maxLength": 10
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Target store ID (required for pickup)",
              "type": "string",
              "minLength": 3,
              "maxLength": 4
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country to use when submitting the request",
              "type": "string",
              "minLength": 2,
              "maxLength": 64
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Target search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search or delivery parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Target dedicated endpoints require a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded, or the upstream provider rate-limited the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Target upstream failed or returned an unusable response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Target execution backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/target/search?search=laptop\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          }
        ]
      }
    },
    "/v1/fast-search": {
      "get": {
        "tags": [
          "Fast Search"
        ],
        "summary": "Fast Search",
        "description": "Execute a lighter, faster Google web search. Returns organic results, news results, people-also-ask, related searches, and answer boxes only -- no knowledge graph, ads, shopping results, or HTML capture. Requires a Starter plan or higher.",
        "operationId": "fastSearch",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for localized results",
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Result page number",
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                {
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Fast Search response with organic results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastSearchSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastSearchErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastSearchErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Fast Search requires a Starter plan or higher.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastSearchErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastSearchErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "The upstream provider blocked or failed the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastSearchErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Fast Search backend unavailable or unconfigured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FastSearchErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/fast-search?search=openai&country_code=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/fast-search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"search\": \"openai\", \"country_code\": \"us\"},\n)\nprint(resp.json()[\"organic_results\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ search: \"openai\", country_code: \"us\" });\nconst resp = await fetch(`https://api.scrapio.dev/v1/fast-search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data.organic_results);"
          }
        ]
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get async job status",
        "description": "Returns the current status and metadata for an async job. Poll this endpoint until `result_available` is `true` or the status is `failed` or `cancelled`, then call `GET /v1/jobs/{id}/result` to retrieve the output.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job identifier returned when the job was created.",
            "schema": {
              "type": "string",
              "example": "job_abc123"
            }
          }
        ],
        "responses": {
[...]
