{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrapio",
    "version": "1.0.0",
    "description": "Turn any URL into structured data. Fetch raw HTML, crawl sites, extract structured content, interact with dynamic pages, and search the web through one API.",
    "contact": {
      "name": "Scrapio Support",
      "url": "https://scrapio.dev"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.scrapio.dev",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "System"
    },
    {
      "name": "Fetch"
    },
    {
      "name": "Crawl"
    },
    {
      "name": "Map"
    },
    {
      "name": "Interact"
    },
    {
      "name": "Search"
    },
    {
      "name": "Google"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "YouTube"
    },
    {
      "name": "Amazon"
    },
    {
      "name": "Walmart"
    },
    {
      "name": "Booking"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/fetch": {
      "post": {
        "tags": [
          "Fetch"
        ],
        "summary": "Fetch and render a URL",
        "description": "Fetches a URL and returns its content as HTML, Markdown, JSON, or a screenshot. Set `render_js: true` to execute JavaScript before capturing the output. Requests that exceed 15 seconds are automatically promoted to async jobs and return a `job_id` to poll.",
        "operationId": "createFetch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Fetch a page as Markdown",
                  "value": {
                    "url": "https://example.com",
                    "output": [
                      "markdown"
                    ]
                  }
                },
                "js_render": {
                  "summary": "Render JavaScript and extract structured data",
                  "value": {
                    "url": "https://news.ycombinator.com",
                    "render_js": true,
                    "output": [
                      "json"
                    ],
                    "extract": {
                      "mode": "schema",
                      "schema": {
                        "top_stories": "array of story titles"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inline fetch completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineFetchResponse"
                }
              }
            }
          },
          "202": {
            "description": "Request exceeded inline timeout; async job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Extraction validation failed on the fetched content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Target site blocked or rejected the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Browser or proxy backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/fetch \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\":\"https://example.com\",\"output\":[\"markdown\"]}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/fetch\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"url\": \"https://example.com\", \"output\": [\"markdown\"]},\n)\nprint(resp.json()[\"outputs\"][\"markdown\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/fetch\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ url: \"https://example.com\", output: [\"markdown\"] }),\n});\nconst data = await resp.json();\nconsole.log(data.outputs.markdown);"
          }
        ]
      }
    },
    "/v1/google/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search Google",
        "description": "Execute a Google search and receive structured SERP results including organic results, ads, images, news, shopping, and maps. Supports classic, news, images, maps, shopping, and AI-mode search types with locale and device targeting.",
        "operationId": "googleSearch",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Type of Google search to perform",
              "type": "string",
              "enum": [
                "classic",
                "news",
                "images",
                "lens",
                "ai_mode",
                "ads"
              ]
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for localized results",
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Device profile to emulate",
              "type": "string",
              "enum": [
                "desktop",
                "mobile"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Result page number",
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Time filter for results",
              "type": "string",
              "enum": [
                "past_hour",
                "past_day",
                "past_week",
                "past_month",
                "past_year"
              ]
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Latitude for local results",
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Longitude for local results",
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Search radius for local results",
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "extra_params",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Raw extra query parameters",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "light_request",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Lighter-weight response",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "add_html",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Include raw HTML in response",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "nfpr",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Disable auto-correct redirect",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Custom tag/label for the request",
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Google SERP response with organic results, ads, and enrichments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleSearchSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Google rate-limited or CAPTCHA-challenged the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Google blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Google execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/google/search?search=openai&search_type=classic&country_code=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/google/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"search\": \"openai\", \"country_code\": \"us\"},\n)\nprint(resp.json()[\"organic_results\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ search: \"openai\", country_code: \"us\" });\nconst resp = await fetch(`https://api.scrapio.dev/v1/google/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data.organic_results);"
          }
        ]
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get async job status",
        "description": "Returns the current status and metadata for an async job. Poll this endpoint until `result_available` is `true` or the status is `failed` or `cancelled`, then call `GET /v1/jobs/{id}/result` to retrieve the output.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job identifier returned when the job was created.",
            "schema": {
              "type": "string",
              "example": "job_abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl https://api.scrapio.dev/v1/jobs/job_abc123 \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, time, requests\nheaders = {\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"}\nwhile True:\n    r = requests.get(\"https://api.scrapio.dev/v1/jobs/job_abc123\", headers=headers).json()\n    if r[\"result_available\"] or r[\"status\"] in (\"failed\", \"cancelled\"):\n        break\n    time.sleep(3)"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const headers = { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` };\nlet status;\ndo {\n  await new Promise(r => setTimeout(r, 3000));\n  status = await fetch(\"https://api.scrapio.dev/v1/jobs/job_abc123\", { headers }).then(r => r.json());\n} while (!status.result_available && ![\"failed\",\"cancelled\"].includes(status.status));"
          }
        ]
      }
    },
    "/v1/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create an async job",
        "description": "Submit any surface operation (fetch, crawl, interact, search, map) as an async job. Returns a `job_id` immediately; poll `GET /v1/jobs/{id}` for status and retrieve the output from `GET /v1/jobs/{id}/result` once complete. Send an `Idempotency-Key` header to safely retry submission. Results are retained for 24 hours.",
        "operationId": "createJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRequest"
              },
              "examples": {
                "fetch": {
                  "summary": "Async fetch job",
                  "value": {
                    "kind": "fetch",
                    "input": {
                      "url": "https://example.com",
                      "render_js": true,
                      "output": [
                        "markdown"
                      ]
                    }
                  }
                },
                "crawl": {
                  "summary": "Async crawl job",
                  "value": {
                    "kind": "crawl",
                    "input": {
                      "seeds": [
                        "https://docs.example.com/"
                      ],
                      "max_pages": 20,
                      "output": [
                        "markdown"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted and queued for execution.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid job request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/jobs \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Idempotency-Key: my-job-001\" \\\n  -d '{\"kind\":\"fetch\",\"input\":{\"url\":\"https://example.com\",\"output\":[\"markdown\"]}}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/jobs\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\", \"Idempotency-Key\": \"my-job-001\"},\n    json={\"kind\": \"fetch\", \"input\": {\"url\": \"https://example.com\", \"output\": [\"markdown\"]}},\n)\nprint(resp.json()[\"job_id\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/jobs\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\", \"Idempotency-Key\": \"my-job-001\" },\n  body: JSON.stringify({ kind: \"fetch\", input: { url: \"https://example.com\", output: [\"markdown\"] } }),\n});\nconst { job_id } = await resp.json();"
          }
        ]
      }
    },
    "/v1/jobs/{id}/result": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get async job result",
        "description": "Retrieves the completed output of an async job. Returns `409` if the job has not finished yet — check `GET /v1/jobs/{id}` first and only call this endpoint when `result_available` is `true`. Results expire 24 hours after job completion.",
        "operationId": "getJobResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job identifier returned when the job was created.",
            "schema": {
              "type": "string",
              "example": "job_abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed job output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResultResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or result expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Job has not finished yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl https://api.scrapio.dev/v1/jobs/job_abc123/result \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresult = requests.get(\n    \"https://api.scrapio.dev/v1/jobs/job_abc123/result\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n).json()\nprint(result[\"outputs\"][\"markdown\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const result = await fetch(\"https://api.scrapio.dev/v1/jobs/job_abc123/result\", {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nconsole.log(result.outputs.markdown);"
          }
        ]
      }
    },
    "/v1/youtube/search/crawl": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "Queue a YouTube search crawl job",
        "description": "Submits a large-scale YouTube search as an async job. Useful when `limit` exceeds what the synchronous search endpoint can return in a single call. Returns a `job_id` to poll for results.",
        "operationId": "queueYouTubeSearchCrawl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/YouTubeSearchQuery"
              },
              "examples": {
                "basic": {
                  "summary": "Crawl 500 results for a query",
                  "value": {
                    "search": "machine learning tutorials",
                    "limit": 500,
                    "type": "video"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "YouTube crawl job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/youtube/search/crawl \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"search\":\"machine learning tutorials\",\"limit\":500,\"type\":\"video\"}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/youtube/search/crawl\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"search\": \"machine learning tutorials\", \"limit\": 500, \"type\": \"video\"},\n)\nprint(resp.json()[\"job_id\"])"
          }
        ]
      }
    },
    "/v1/youtube/search": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "Search YouTube",
        "description": "Search YouTube and return structured results including title, URL, channel, description, view count, and duration. Supports filtering by type (video, channel, playlist), language, country, and geo-location. For large result sets, use the `/v1/youtube/search/crawl` async endpoint.",
        "operationId": "youtubeSearch",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 2,
              "maxLength": 16,
              "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for results",
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Geo location for results",
              "type": "string",
              "minLength": 2,
              "maxLength": 32
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Type of result to search for",
              "type": "string",
              "enum": [
                "video",
                "channel",
                "playlist",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max number of results",
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 1000
            }
          },
          {
            "name": "start_page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "First result page to fetch",
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "end_page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Last result page to fetch",
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated YouTube search results with metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No results found for the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/youtube/search?search=openai&type=video&limit=10\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/youtube/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"search\": \"openai\", \"type\": \"video\", \"limit\": 10},\n)\nfor r in resp.json()[\"results\"]:\n    print(r[\"title\"], r[\"url\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ search: \"openai\", type: \"video\", limit: \"10\" });\nconst { results } = await fetch(`https://api.scrapio.dev/v1/youtube/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nresults.forEach(r => console.log(r.title, r.url));"
          }
        ]
      }
    },
    "/v1/youtube/videos/{video_id}": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "Get YouTube video details",
        "description": "Retrieve full metadata for a YouTube video by its ID: title, channel, description, publish date, view/like counts, tags, category, and available caption tracks. Set `include_subtitles: true` to include subtitle data in the same response.",
        "operationId": "getYouTubeVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{6,20}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for metadata",
              "type": "string",
              "minLength": 2,
              "maxLength": 16,
              "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for metadata",
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "include_subtitles",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Include subtitle availability in the response",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full video metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid video ID format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Video not found or unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/youtube/videos/dQw4w9WgXcQ?include_subtitles=false\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/youtube/videos/dQw4w9WgXcQ\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"include_subtitles\": False},\n)\nprint(resp.json()[\"video\"][\"title\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { video } = await fetch(\"https://api.scrapio.dev/v1/youtube/videos/dQw4w9WgXcQ\", {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nconsole.log(video.title, video.view_count);"
          }
        ]
      }
    },
    "/v1/youtube/subtitles": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "Get YouTube subtitles",
        "description": "Download subtitle/caption tracks for a YouTube video. Returns timestamped transcript segments grouped by origin (auto-generated vs creator-uploaded) and language. Set `include_timestamps: false` to receive plain text only.",
        "operationId": "getYouTubeSubtitles",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{6,20}$",
              "description": "YouTube video id"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Subtitle language",
              "type": "string",
              "minLength": 2,
              "maxLength": 16,
              "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$"
            }
          },
          {
            "name": "subtitle_origin",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Subtitle origin: auto_generated or creator",
              "type": "string",
              "enum": [
                "auto_generated",
                "creator"
              ]
            }
          },
          {
            "name": "include_timestamps",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Include per-line timestamps",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subtitle tracks grouped by origin and language.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeSubtitlesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid video ID or language parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No subtitle tracks available for this video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/youtube/subtitles?video_id=dQw4w9WgXcQ&language=en\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/youtube/subtitles\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"video_id\": \"dQw4w9WgXcQ\", \"language\": \"en\"},\n)\nprint(resp.json()[\"subtitles\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ video_id: \"dQw4w9WgXcQ\", language: \"en\" });\nconst { subtitles } = await fetch(`https://api.scrapio.dev/v1/youtube/subtitles?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());"
          }
        ]
      }
    },
    "/v1/amazon/search/crawl": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Queue an Amazon search crawl job",
        "description": "Submits a large Amazon search crawl as an async job, returning a `job_id` to poll. Use this for multi-page searches or when you need more results than the synchronous search endpoint returns.",
        "operationId": "queueAmazonSearchCrawl",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search keywords"
            }
          },
          {
            "name": "start_page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "First page to crawl (default 1)",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "end_page",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Last page to crawl, max 10 pages from start_page",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Filter results to a specific merchant",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sort order for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Enrich each result with pricing data",
              "type": "string",
              "enum": [
                "pricing"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for localized results",
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Amazon domain suffix, e.g. com, co.uk, de",
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ],
              "description": "Device profile to emulate"
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max time to wait, in ms",
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Amazon crawl job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid crawl parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/search/crawl?query=wireless+headphones&max_pages=5\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/search/crawl\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"wireless headphones\", \"max_pages\": 5},\n)\nprint(resp.json()[\"job_id\"])"
          }
        ]
      }
    },
    "/v1/amazon/product": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Get Amazon product details",
        "description": "Retrieve structured product data from an Amazon product page: title, price, rating, review count, images, bullet points, description, and seller info. Accepts an ASIN or a full Amazon product URL.",
        "operationId": "getAmazonProduct",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Free-text product query (asin or query required)",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Amazon ASIN to look up (asin or query required)",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for localized results",
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Amazon domain suffix, e.g. com, co.uk, de",
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ],
              "description": "Device profile to emulate"
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max time to wait, in ms",
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Amazon product data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmazonProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ASIN or request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/product?asin=B08N5WRWNW&country=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/product\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"asin\": \"B08N5WRWNW\", \"country\": \"us\"},\n)\nprint(resp.json()[\"title\"], resp.json()[\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ asin: \"B08N5WRWNW\", country: \"us\" });\nconst product = await fetch(`https://api.scrapio.dev/v1/amazon/product?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nconsole.log(product.title, product.price);"
          }
        ]
      }
    },
    "/v1/amazon/pricing": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Get Amazon offer pricing",
        "description": "Retrieve current offer pricing for an Amazon product, including new, used, and third-party seller listings. Returns price breakdown, condition, and seller metadata.",
        "operationId": "getAmazonPricing",
        "parameters": [
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Amazon ASIN to look up pricing for"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for localized results",
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Amazon domain suffix, e.g. com, co.uk, de",
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ],
              "description": "Device profile to emulate"
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max time to wait, in ms",
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current offer pricing details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmazonPricingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ASIN or request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/pricing?asin=B08N5WRWNW&country=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/pricing\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"asin\": \"B08N5WRWNW\", \"country\": \"us\"},\n)\nprint(resp.json())"
          }
        ]
      }
    },
    "/v1/amazon/search": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Search Amazon",
        "description": "Search Amazon and return structured results for the first page: product titles, ASINs, prices, ratings, and image URLs. For multi-page searches, use the `/v1/amazon/search/crawl` async endpoint.",
        "operationId": "searchAmazon",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search keywords"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Result page number",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Filter results to a specific merchant",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sort order for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Enrich each result with pricing data",
              "type": "string",
              "enum": [
                "pricing"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Country code for localized results",
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Language for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Amazon domain suffix, e.g. com, co.uk, de",
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ],
              "description": "Device profile to emulate"
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max time to wait, in ms",
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Amazon search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmazonSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/search?query=wireless+headphones&country=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"wireless headphones\", \"country\": \"us\"},\n)\nfor r in resp.json()[\"results\"]:\n    print(r[\"title\"], r[\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ query: \"wireless headphones\", country: \"us\" });\nconst { results } = await fetch(`https://api.scrapio.dev/v1/amazon/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nresults.forEach(r => console.log(r.title, r.price));"
          }
        ]
      }
    },
    "/v1/walmart/search/crawl": {
      "get": {
        "tags": [
          "Walmart"
        ],
        "summary": "Queue a Walmart search crawl job",
        "description": "Submits a large Walmart search crawl as an async job, returning a `job_id` to poll. Use this for multi-page searches beyond what the synchronous search endpoint returns.",
        "operationId": "queueWalmartSearchCrawl",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "delivery_zip",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery zip code for localized results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Zip code for localized results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Store id to localize results to",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sort order for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Minimum price filter",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Maximum price filter",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "start_page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "First page to crawl (default 1)",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "end_page",
            "in": "query",
            "required": true,
            "schema": {
              "description": "Last page to crawl, max 25 pages from start_page",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "fulfillment_speed",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Fulfillment speed filter",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "fulfillment_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Fulfillment type filter",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ],
              "description": "Device profile to emulate"
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max time to wait, in ms",
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Walmart crawl job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid crawl parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Walmart blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Walmart execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/walmart/search/crawl?query=coffee+maker&max_pages=3\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/walmart/search/crawl\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"coffee maker\", \"max_pages\": 3},\n)\nprint(resp.json()[\"job_id\"])"
          }
        ]
      }
    },
    "/v1/walmart/search": {
      "get": {
        "tags": [
          "Walmart"
        ],
        "summary": "Search Walmart",
        "description": "Search Walmart and return structured results for the first page: product names, item IDs, prices, ratings, and image URLs. For multi-page searches, use the `/v1/walmart/search/crawl` async endpoint.",
        "operationId": "searchWalmart",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search query text"
            }
          },
          {
            "name": "delivery_zip",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Delivery zip code for localized results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Zip code for localized results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Store id to localize results to",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sort order for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Minimum price filter",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Maximum price filter",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Result page number",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "pages",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of pages to fetch, max 5",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "fulfillment_speed",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Fulfillment speed filter",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "fulfillment_type",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Fulfillment type filter",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ],
              "description": "Device profile to emulate"
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max time to wait, in ms",
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Walmart search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalmartSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Walmart blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Walmart execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/walmart/search?query=coffee+maker\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/walmart/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"coffee maker\"},\n)\nfor r in resp.json()[\"results\"]:\n    print(r[\"name\"], r[\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ query: \"coffee maker\" });\nconst { results } = await fetch(`https://api.scrapio.dev/v1/walmart/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nresults.forEach(r => console.log(r.name, r.price));"
          }
        ]
      }
    },
    "/v1/crawl": {
      "post": {
        "tags": [
          "Crawl"
        ],
        "summary": "Crawl a site from seed URLs",
        "description": "Follows links from one or more seed URLs, capped by `max_pages`/`max_depth`, and returns the fetched content of every page visited. Runs structured extraction per page when `extract` is set (requires `output` to include `json`).",
        "operationId": "createCrawl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Shallow crawl from one seed",
                  "value": {
                    "seeds": [
                      "https://example.com"
                    ],
                    "max_pages": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl completed inline.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowEnvelopeResponse"
                },
                "example": {
                  "id": "b9fdf0a0-3211-446e-8959-12e2300f0c2a",
                  "request_id": "b9fdf0a0-3211-446e-8959-12e2300f0c2a",
                  "kind": "crawl",
                  "mode": "inline",
                  "status": "completed",
                  "steps": [
                    {
                      "step_id": "step_crawl_fetch",
                      "type": "crawl_fetch",
                      "status": "completed",
                      "started_at": "2026-07-17T14:27:44.998Z",
                      "completed_at": "2026-07-17T14:27:45.090Z"
                    }
                  ],
                  "result": {
                    "seeds": [
                      "https://example.com"
                    ],
                    "pages": [
                      {
                        "url": "https://example.com/",
                        "depth": 0,
                        "status": "completed",
                        "outputs": {
                          "markdown": "# Example Domain\n\nExample Domain\n\nExample DomainThis domain is for use in documentation examples without needing permission. Avoid use in operations.Learn more"
                        }
                      }
                    ],
                    "summary": {
                      "pages_discovered": 1,
                      "pages_fetched": 1,
                      "pages_succeeded": 1,
                      "pages_failed": 0,
                      "pages_skipped": 1
                    }
                  },
                  "diagnostics": {
                    "step_errors": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid crawl parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/crawl \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"seeds\":[\"https://example.com\"],\"max_pages\":3}'"
          }
        ]
      }
    },
    "/v1/map": {
      "post": {
        "tags": [
          "Map"
        ],
        "summary": "Map a site's URLs from seed URLs",
        "description": "Discovers URLs reachable from one or more seed URLs, capped by `max_urls`/`max_depth`, without fetching each page's full content. Set `include_metadata: true` to also return per-URL page metadata (like title).",
        "operationId": "createMap",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Map with metadata",
                  "value": {
                    "seeds": [
                      "https://example.com"
                    ],
                    "include_metadata": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map completed inline.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowEnvelopeResponse"
                },
                "example": {
                  "id": "0cf982f8-99c8-4641-9d12-b0d7191bf782",
                  "request_id": "0cf982f8-99c8-4641-9d12-b0d7191bf782",
                  "kind": "map",
                  "mode": "inline",
                  "status": "completed",
                  "steps": [
                    {
                      "step_id": "step_map_discover",
                      "type": "map_discover",
                      "status": "completed",
                      "started_at": "2026-07-17T14:27:49.333Z",
                      "completed_at": "2026-07-17T14:27:49.392Z"
                    }
                  ],
                  "result": {
                    "seeds": [
                      "https://example.com"
                    ],
                    "urls": [
                      {
                        "url": "https://example.com/",
                        "depth": 0,
                        "discovered_from": null,
                        "metadata": {
                          "title": "Example Domain"
                        }
                      }
                    ],
                    "summary": {
                      "urls_discovered": 2,
                      "urls_returned": 1,
                      "urls_skipped": 1,
                      "frontier_exhausted": true
                    }
                  },
                  "diagnostics": {
                    "step_errors": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid map parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/map \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"seeds\":[\"https://example.com\"],\"include_metadata\":true}'"
          }
        ]
      }
    },
    "/v1/interact": {
      "post": {
        "tags": [
          "Interact"
        ],
        "summary": "Drive a browser with an action sequence",
        "description": "Runs an ordered sequence of actions (goto, click, type, select, press, scroll, wait_for, wait_ms) against a real browser session, then captures output. Use `session.id` to persist cookies/local storage across separate `/v1/interact` calls (e.g. log in once, then reuse the session).",
        "operationId": "createInteract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteractRequest"
              },
              "examples": {
                "press_key": {
                  "summary": "Click, press a key, extract the result",
                  "value": {
                    "url": "https://the-internet.herokuapp.com/key_presses",
                    "actions": [
                      {
                        "type": "click",
                        "selector": "#target"
                      },
                      {
                        "type": "press",
                        "key": "A"
                      }
                    ],
                    "output": [
                      "json"
                    ],
                    "extract": {
                      "mode": "selectors",
                      "fields": {
                        "result_text": {
                          "selector": "#result",
                          "type": "text"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action sequence completed inline.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowEnvelopeResponse"
                },
                "example": {
                  "request_id": "80a01b87-640f-4240-afe9-d2f8d15a3145",
                  "id": "80a01b87-640f-4240-afe9-d2f8d15a3145",
                  "kind": "interact",
                  "mode": "inline",
                  "status": "completed",
                  "steps": [
                    {
                      "step_id": "step_1",
                      "type": "click",
                      "status": "completed",
                      "started_at": "2026-07-17T14:28:16.053Z",
                      "completed_at": "2026-07-17T14:28:16.110Z"
                    },
                    {
                      "step_id": "step_2",
                      "type": "press",
                      "status": "completed",
                      "started_at": "2026-07-17T14:28:16.110Z",
                      "completed_at": "2026-07-17T14:28:16.112Z"
                    }
                  ],
                  "result": {
                    "outputs": {
                      "json": {
                        "result_text": "You entered: A"
                      }
                    },
                    "final_url": "https://the-internet.herokuapp.com/key_presses"
                  },
                  "diagnostics": {
                    "step_errors": [],
                    "output_failures": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid interact parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/interact \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\":\"https://example.com\",\"actions\":[{\"type\":\"wait_ms\",\"duration_ms\":200}]}'"
          }
        ]
      }
    },
    "/v1/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Run a web search, optionally fetching results",
        "description": "Runs a web search (currently Google only) and returns the ranked result list. Set `fetch_results: true` to also fetch and (optionally) extract each result page's content in the same call.",
        "operationId": "createSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchWorkflowRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Search only, no fetch",
                  "value": {
                    "query": "espresso machine reviews"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed inline.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowEnvelopeResponse"
                },
                "example": {
                  "id": "23a63198-4ea2-4548-ae7d-69041d8bf387",
                  "request_id": "23a63198-4ea2-4548-ae7d-69041d8bf387",
                  "kind": "search",
                  "mode": "inline",
                  "status": "completed",
                  "steps": [
                    {
                      "step_id": "step_search",
                      "type": "search",
                      "status": "completed",
                      "started_at": "2026-07-19T11:06:13.177Z",
                      "completed_at": "2026-07-19T11:06:17.164Z"
                    }
                  ],
                  "result": {
                    "query": "espresso machine reviews",
                    "provider": "google",
                    "results": [
                      {
                        "rank": 1,
                        "title": "The 7 Greatest Espresso Machines in 2026 [No *BS Guide]",
                        "url": "https://coffeechronicler.com/gear/espresso-machines/",
                        "snippet": ""
                      },
                      {
                        "rank": 2,
                        "title": "The Best Espresso Machine",
                        "url": "https://coffeegeek.com/opinions/state-of-coffee/the-best-espresso-machine/",
                        "snippet": ""
                      },
                      {
                        "rank": 3,
                        "title": "Best Espresso Machine: the Final, Definitive Answer",
                        "url": "https://www.wholelattelove.com/blogs/reviews/the-best-espresso-machine?srsltid=AfmBOootg6Ts15jJQB9tf_KA3yTAgtJ20-3BBUvIanucteakFm9XU72i",
                        "snippet": ""
                      },
                      {
                        "rank": 4,
                        "title": "Good, Easy Espresso at Home | Reviews by Wirecutter",
                        "url": "https://www.nytimes.com/wirecutter/reviews/gaggia-classic-evo-pro-review/",
                        "snippet": ""
                      },
                      {
                        "rank": 5,
                        "title": "Espresso Machine & Coffee Grinder Reviews",
                        "url": "https://www.home-barista.com/hb-reviews.html",
                        "snippet": ""
                      }
                    ]
                  },
                  "diagnostics": {
                    "step_errors": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/search \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"query\":\"espresso machine reviews\"}'"
          }
        ]
      }
    },
    "/v1/booking/search": {
      "get": {
        "tags": [
          "Booking"
        ],
        "summary": "Search Booking.com hotels",
        "description": "Searches Booking.com hotel availability for a destination and stay window, returning structured property results (price, stars, review score, coordinates, and more). Requires the Travel add-on. `pos_country` pins the point-of-sale market by routing through a residential proxy in that country, since Booking's prices vary by point of sale.",
        "operationId": "searchBooking",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Destination text or lat,lng"
            }
          },
          {
            "name": "check_in",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Check-in date (YYYY-MM-DD)"
            }
          },
          {
            "name": "check_out",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
              "description": "Check-out date (YYYY-MM-DD)"
            }
          },
          {
            "name": "adults",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of adults (default 2)",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "children",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of children (default 0)",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "children_ages",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated child ages; length must match children",
              "type": "string",
              "pattern": "^\\d+(,\\d+)*$"
            }
          },
          {
            "name": "rooms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of rooms (default 1)",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Display currency (ISO 4217)",
              "type": "string",
              "pattern": "^[A-Za-z]{3}$"
            }
          },
          {
            "name": "pos_country",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Point-of-sale market (ISO country code)",
              "type": "string",
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ],
              "description": "Device profile to emulate"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sort order for results",
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Minimum per-night price",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Maximum per-night price",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "stars",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Comma-separated star ratings to include",
              "type": "string",
              "pattern": "^[1-5](,[1-5])*$"
            }
          },
          {
            "name": "min_review_score",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Minimum review score, 1-10",
              "type": "string",
              "pattern": "^(10(\\.0)?|\\d(\\.\\d)?)$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Result page number",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "pages",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Number of pages to fetch, max 5",
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Max time to wait, in ms",
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
[...]
