{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrapio",
    "version": "1.0.0",
    "description": "Turn any URL into structured data. Fetch raw HTML, crawl sites, extract structured content, interact with dynamic pages, and search the web through one API.",
    "contact": {
      "name": "Scrapio Support",
      "url": "https://scrapio.dev"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.scrapio.dev",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "System"
    },
    {
      "name": "Fetch"
    },
    {
      "name": "Google"
    },
    {
      "name": "Crawl"
    },
    {
      "name": "Map"
    },
    {
      "name": "Interact"
    },
    {
      "name": "Search"
    },
    {
      "name": "Jobs"
    },
    {
      "name": "YouTube"
    },
    {
      "name": "Amazon"
    },
    {
      "name": "Walmart"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Health check",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/v1/fetch": {
      "post": {
        "tags": [
          "Fetch"
        ],
        "summary": "Fetch and render a URL",
        "description": "Fetches a URL and returns its content as HTML, Markdown, JSON, or a screenshot. Set `render_js: true` to execute JavaScript before capturing the output. Requests that exceed 15 seconds are automatically promoted to async jobs and return a `job_id` to poll.",
        "operationId": "createFetch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Fetch a page as Markdown",
                  "value": {
                    "url": "https://example.com",
                    "output": [
                      "markdown"
                    ]
                  }
                },
                "js_render": {
                  "summary": "Render JavaScript and extract structured data",
                  "value": {
                    "url": "https://news.ycombinator.com",
                    "render_js": true,
                    "output": [
                      "json"
                    ],
                    "extract": {
                      "mode": "schema",
                      "schema": {
                        "top_stories": "array of story titles"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inline fetch completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InlineFetchResponse"
                }
              }
            }
          },
          "202": {
            "description": "Request exceeded inline timeout; async job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Extraction validation failed on the fetched content.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Target site blocked or rejected the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Browser or proxy backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/fetch \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\":\"https://example.com\",\"output\":[\"markdown\"]}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/fetch\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"url\": \"https://example.com\", \"output\": [\"markdown\"]},\n)\nprint(resp.json()[\"outputs\"][\"markdown\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/fetch\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ url: \"https://example.com\", output: [\"markdown\"] }),\n});\nconst data = await resp.json();\nconsole.log(data.outputs.markdown);"
          }
        ]
      }
    },
    "/v1/google/search": {
      "get": {
        "tags": [
          "Google"
        ],
        "summary": "Search Google",
        "description": "Execute a Google search and receive structured SERP results including organic results, ads, images, news, shopping, and maps. Supports classic, news, images, maps, shopping, and AI-mode search types with locale and device targeting.",
        "operationId": "googleSearch",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "classic",
                "news",
                "maps",
                "images",
                "lens",
                "shopping",
                "ai_mode",
                "ads"
              ]
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "date_range",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "past_hour",
                "past_day",
                "past_week",
                "past_month",
                "past_year"
              ]
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "reviews",
                "price_asc",
                "price_desc"
              ]
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "extra_params",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "light_request",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "add_html",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "nfpr",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Google SERP response with organic results, ads, and enrichments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleSearchSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Google rate-limited or CAPTCHA-challenged the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Google blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Google execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GoogleErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/google/search?search=openai&search_type=classic&country_code=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/google/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"search\": \"openai\", \"country_code\": \"us\"},\n)\nprint(resp.json()[\"organic_results\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ search: \"openai\", country_code: \"us\" });\nconst resp = await fetch(`https://api.scrapio.dev/v1/google/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n});\nconst data = await resp.json();\nconsole.log(data.organic_results);"
          }
        ]
      }
    },
    "/v1/crawl": {
      "post": {
        "tags": [
          "Crawl"
        ],
        "summary": "Crawl a site from seed URLs",
        "description": "Breadth-first crawls one or more seed URLs, following same-origin links up to `max_pages` and `max_depth`. Each page is fetched inline and returned with its own status; the overall response is `partial` if any page failed. For large crawls, submit via `POST /v1/jobs` with `kind: \"crawl\"` instead.",
        "operationId": "crawlSite",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Crawl up to 5 pages as Markdown",
                  "value": {
                    "seeds": [
                      "https://example.com"
                    ],
                    "max_pages": 5,
                    "max_depth": 2,
                    "output": [
                      "markdown"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Crawl completed; per-page results and a summary are returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid crawl parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Tenant daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/crawl \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"seeds\":[\"https://example.com\"],\"max_pages\":5,\"output\":[\"markdown\"]}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/crawl\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"seeds\": [\"https://example.com\"], \"max_pages\": 5, \"output\": [\"markdown\"]},\n)\nfor page in resp.json()[\"result\"][\"pages\"]:\n    print(page[\"url\"], page[\"status\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/crawl\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ seeds: [\"https://example.com\"], max_pages: 5, output: [\"markdown\"] }),\n});\nconst { result } = await resp.json();\nresult.pages.forEach(p => console.log(p.url, p.status));"
          }
        ]
      }
    },
    "/v1/map": {
      "post": {
        "tags": [
          "Map"
        ],
        "summary": "Discover URLs on a site",
        "description": "Breadth-first discovers URLs reachable from one or more seed URLs without extracting page content, up to `max_urls` and `max_depth`. Useful for scoping a crawl before fetching content. For large sites, submit via `POST /v1/jobs` with `kind: \"map\"` instead.",
        "operationId": "mapSite",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Discover up to 20 URLs",
                  "value": {
                    "seeds": [
                      "https://example.com"
                    ],
                    "max_urls": 20,
                    "same_domain_only": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "URL discovery completed; discovered URLs and a summary are returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid map parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Tenant daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/map \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"seeds\":[\"https://example.com\"],\"max_urls\":20}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/map\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"seeds\": [\"https://example.com\"], \"max_urls\": 20},\n)\nfor entry in resp.json()[\"result\"][\"urls\"]:\n    print(entry[\"url\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/map\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ seeds: [\"https://example.com\"], max_urls: 20 }),\n});\nconst { result } = await resp.json();\nresult.urls.forEach(u => console.log(u.url));"
          }
        ]
      }
    },
    "/v1/interact": {
      "post": {
        "tags": [
          "Interact"
        ],
        "summary": "Interact with a page in a real browser",
        "description": "Drives a real browser through a sequence of actions (`goto`, `click`, `type`, `select`, `press`, `scroll`, `wait_for`, `wait_ms`) against a URL and returns the resulting page content. Pass `session: { id }` to reuse cookies and storage state across multiple calls. Set `output` to include `screenshot` to capture a rendered image.",
        "operationId": "interactWithPage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InteractRequest"
              },
              "examples": {
                "click_and_capture": {
                  "summary": "Click a link and capture Markdown",
                  "value": {
                    "url": "https://example.com",
                    "actions": [
                      {
                        "type": "click",
                        "selector": "a"
                      },
                      {
                        "type": "wait_ms",
                        "duration_ms": 500
                      }
                    ],
                    "output": [
                      "markdown"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interaction completed; final page outputs and step results are returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InteractResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters, or no actions provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The referenced session was updated concurrently.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "The referenced session has expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Tenant daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/interact \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\":\"https://example.com\",\"actions\":[{\"type\":\"click\",\"selector\":\"a\"}],\"output\":[\"markdown\"]}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/interact\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\n        \"url\": \"https://example.com\",\n        \"actions\": [{\"type\": \"click\", \"selector\": \"a\"}],\n        \"output\": [\"markdown\"],\n    },\n)\nprint(resp.json()[\"result\"][\"outputs\"][\"markdown\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/interact\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({\n    url: \"https://example.com\",\n    actions: [{ type: \"click\", selector: \"a\" }],\n    output: [\"markdown\"],\n  }),\n});\nconst { result } = await resp.json();\nconsole.log(result.outputs.markdown);"
          }
        ]
      }
    },
    "/v1/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search the web and optionally fetch results",
        "description": "Runs a Google search and, when `fetch_results: true`, fetches each result page and returns its content in the requested `output` formats (optionally with structured `extract`). Without `fetch_results`, only the ranked search results are returned. For large workflows, submit via `POST /v1/jobs` with `kind: \"search\"` instead.",
        "operationId": "searchWorkflow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchWorkflowRequest"
              },
              "examples": {
                "search_only": {
                  "summary": "Search only, no page fetch",
                  "value": {
                    "query": "best TypeScript frameworks",
                    "max_results": 5
                  }
                },
                "search_and_fetch": {
                  "summary": "Search and fetch result pages as Markdown",
                  "value": {
                    "query": "best TypeScript frameworks",
                    "max_results": 3,
                    "fetch_results": true,
                    "output": [
                      "markdown"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search (and optional fetch) completed; ranked results are returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchWorkflowResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters, or output/extract requested without fetch_results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Tenant daily credit cap exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/search \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"query\":\"best TypeScript frameworks\",\"max_results\":5,\"fetch_results\":true,\"output\":[\"markdown\"]}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"query\": \"best TypeScript frameworks\", \"max_results\": 5, \"fetch_results\": True, \"output\": [\"markdown\"]},\n)\nfor r in resp.json()[\"result\"][\"results\"]:\n    print(r[\"title\"], r[\"url\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/search\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\" },\n  body: JSON.stringify({ query: \"best TypeScript frameworks\", max_results: 5, fetch_results: true, output: [\"markdown\"] }),\n});\nconst { result } = await resp.json();\nresult.results.forEach(r => console.log(r.title, r.url));"
          }
        ]
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get async job status",
        "description": "Returns the current status and metadata for an async job. Poll this endpoint until `result_available` is `true` or the status is `failed` or `cancelled`, then call `GET /v1/jobs/{id}/result` to retrieve the output.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job identifier returned when the job was created.",
            "schema": {
              "type": "string",
              "example": "job_abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl https://api.scrapio.dev/v1/jobs/job_abc123 \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, time, requests\nheaders = {\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"}\nwhile True:\n    r = requests.get(\"https://api.scrapio.dev/v1/jobs/job_abc123\", headers=headers).json()\n    if r[\"result_available\"] or r[\"status\"] in (\"failed\", \"cancelled\"):\n        break\n    time.sleep(3)"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const headers = { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` };\nlet status;\ndo {\n  await new Promise(r => setTimeout(r, 3000));\n  status = await fetch(\"https://api.scrapio.dev/v1/jobs/job_abc123\", { headers }).then(r => r.json());\n} while (!status.result_available && ![\"failed\",\"cancelled\"].includes(status.status));"
          }
        ]
      }
    },
    "/v1/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create an async job",
        "description": "Submit any surface operation (fetch, crawl, interact, search, map) as an async job. Returns a `job_id` immediately; poll `GET /v1/jobs/{id}` for status and retrieve the output from `GET /v1/jobs/{id}/result` once complete. Send an `Idempotency-Key` header to safely retry submission. Results are retained for 24 hours.",
        "operationId": "createJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobRequest"
              },
              "examples": {
                "fetch": {
                  "summary": "Async fetch job",
                  "value": {
                    "kind": "fetch",
                    "input": {
                      "url": "https://example.com",
                      "render_js": true,
                      "output": [
                        "markdown"
                      ]
                    }
                  }
                },
                "crawl": {
                  "summary": "Async crawl job",
                  "value": {
                    "kind": "crawl",
                    "input": {
                      "seeds": [
                        "https://docs.example.com/"
                      ],
                      "max_pages": 20,
                      "output": [
                        "markdown"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted and queued for execution.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid job request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key reused with a different request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/jobs \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Idempotency-Key: my-job-001\" \\\n  -d '{\"kind\":\"fetch\",\"input\":{\"url\":\"https://example.com\",\"output\":[\"markdown\"]}}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/jobs\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\", \"Idempotency-Key\": \"my-job-001\"},\n    json={\"kind\": \"fetch\", \"input\": {\"url\": \"https://example.com\", \"output\": [\"markdown\"]}},\n)\nprint(resp.json()[\"job_id\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/jobs\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}`, \"Content-Type\": \"application/json\", \"Idempotency-Key\": \"my-job-001\" },\n  body: JSON.stringify({ kind: \"fetch\", input: { url: \"https://example.com\", output: [\"markdown\"] } }),\n});\nconst { job_id } = await resp.json();"
          }
        ]
      }
    },
    "/v1/jobs/{id}/result": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get async job result",
        "description": "Retrieves the completed output of an async job. Returns `409` if the job has not finished yet — check `GET /v1/jobs/{id}` first and only call this endpoint when `result_available` is `true`. Results expire 24 hours after job completion.",
        "operationId": "getJobResult",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job identifier returned when the job was created.",
            "schema": {
              "type": "string",
              "example": "job_abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed job output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResultResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or result expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Job has not finished yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl https://api.scrapio.dev/v1/jobs/job_abc123/result \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresult = requests.get(\n    \"https://api.scrapio.dev/v1/jobs/job_abc123/result\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n).json()\nprint(result[\"outputs\"][\"markdown\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const result = await fetch(\"https://api.scrapio.dev/v1/jobs/job_abc123/result\", {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nconsole.log(result.outputs.markdown);"
          }
        ]
      }
    },
    "/v1/jobs/{id}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel an async job",
        "description": "Requests cancellation of an async job. Returns `202` if the job was still queued or running and cancellation was accepted, or `200` if the job had already reached a terminal state (its final status is returned unchanged).",
        "operationId": "cancelJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The job identifier returned when the job was created.",
            "schema": {
              "type": "string",
              "example": "job_abc123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job had already reached a terminal state; its final status is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelJobResponse"
                }
              }
            }
          },
          "202": {
            "description": "Cancellation accepted for a queued or running job.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelJobResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/jobs/job_abc123/cancel \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/jobs/job_abc123/cancel\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n)\nprint(resp.json()[\"status\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const resp = await fetch(\"https://api.scrapio.dev/v1/jobs/job_abc123/cancel\", {\n  method: \"POST\",\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n});\nconst { status } = await resp.json();"
          }
        ]
      }
    },
    "/v1/youtube/search/crawl": {
      "post": {
        "tags": [
          "YouTube"
        ],
        "summary": "Queue a YouTube search crawl job",
        "description": "Submits a large-scale YouTube search as an async job. Useful when `limit` exceeds what the synchronous search endpoint can return in a single call. Returns a `job_id` to poll for results.",
        "operationId": "queueYouTubeSearchCrawl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/YouTubeSearchQuery"
              },
              "examples": {
                "basic": {
                  "summary": "Crawl 500 results for a query",
                  "value": {
                    "search": "machine learning tutorials",
                    "limit": 500,
                    "type": "video"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "YouTube crawl job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncJobAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST https://api.scrapio.dev/v1/youtube/search/crawl \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"search\":\"machine learning tutorials\",\"limit\":500,\"type\":\"video\"}'"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.post(\n    \"https://api.scrapio.dev/v1/youtube/search/crawl\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    json={\"search\": \"machine learning tutorials\", \"limit\": 500, \"type\": \"video\"},\n)\nprint(resp.json()[\"job_id\"])"
          }
        ]
      }
    },
    "/v1/youtube/search": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "Search YouTube",
        "description": "Search YouTube and return structured results including title, URL, channel, description, view count, and duration. Supports filtering by type (video, channel, playlist), language, country, and geo-location. For large result sets, use the `/v1/youtube/search/crawl` async endpoint.",
        "operationId": "youtubeSearch",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 16,
              "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "geo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 32
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "video",
                "channel",
                "playlist",
                "all"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 1000
            }
          },
          {
            "name": "start_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "end_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "exclusiveMinimum": 0,
              "maximum": 9007199254740991
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated YouTube search results with metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No results found for the query.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/youtube/search?search=openai&type=video&limit=10\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/youtube/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"search\": \"openai\", \"type\": \"video\", \"limit\": 10},\n)\nfor r in resp.json()[\"results\"]:\n    print(r[\"title\"], r[\"url\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ search: \"openai\", type: \"video\", limit: \"10\" });\nconst { results } = await fetch(`https://api.scrapio.dev/v1/youtube/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nresults.forEach(r => console.log(r.title, r.url));"
          }
        ]
      }
    },
    "/v1/youtube/videos/{video_id}": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "Get YouTube video details",
        "description": "Retrieve full metadata for a YouTube video by its ID: title, channel, description, publish date, view/like counts, tags, category, and available caption tracks. Set `include_subtitles: true` to include subtitle data in the same response.",
        "operationId": "getYouTubeVideo",
        "parameters": [
          {
            "name": "video_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{6,20}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 16,
              "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "pattern": "^[A-Za-z]{2}$"
            }
          },
          {
            "name": "include_subtitles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Full video metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeVideoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid video ID format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Video not found or unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/youtube/videos/dQw4w9WgXcQ?include_subtitles=false\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/youtube/videos/dQw4w9WgXcQ\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"include_subtitles\": False},\n)\nprint(resp.json()[\"video\"][\"title\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { video } = await fetch(\"https://api.scrapio.dev/v1/youtube/videos/dQw4w9WgXcQ\", {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nconsole.log(video.title, video.view_count);"
          }
        ]
      }
    },
    "/v1/youtube/subtitles": {
      "get": {
        "tags": [
          "YouTube"
        ],
        "summary": "Get YouTube subtitles",
        "description": "Download subtitle/caption tracks for a YouTube video. Returns timestamped transcript segments grouped by origin (auto-generated vs creator-uploaded) and language. Set `include_timestamps: false` to receive plain text only.",
        "operationId": "getYouTubeSubtitles",
        "parameters": [
          {
            "name": "video_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{6,20}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 16,
              "pattern": "^[A-Za-z]{2,3}(-[A-Za-z0-9]{2,8})*$"
            }
          },
          {
            "name": "subtitle_origin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "auto_generated",
                "creator"
              ]
            }
          },
          {
            "name": "include_timestamps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subtitle tracks grouped by origin and language.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/YouTubeSubtitlesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid video ID or language parameter.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No subtitle tracks available for this video.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/youtube/subtitles?video_id=dQw4w9WgXcQ&language=en\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/youtube/subtitles\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"video_id\": \"dQw4w9WgXcQ\", \"language\": \"en\"},\n)\nprint(resp.json()[\"subtitles\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ video_id: \"dQw4w9WgXcQ\", language: \"en\" });\nconst { subtitles } = await fetch(`https://api.scrapio.dev/v1/youtube/subtitles?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());"
          }
        ]
      }
    },
    "/v1/amazon/search/crawl": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Queue an Amazon search crawl job",
        "description": "Submits a large Amazon search crawl as an async job, returning a `job_id` to poll. Use this for multi-page searches or when you need more results than the synchronous search endpoint returns.",
        "operationId": "queueAmazonSearchCrawl",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "start_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "end_page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pricing"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ]
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Amazon crawl job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid crawl parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/search/crawl?query=wireless+headphones&max_pages=5\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/search/crawl\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"wireless headphones\", \"max_pages\": 5},\n)\nprint(resp.json()[\"job_id\"])"
          }
        ]
      }
    },
    "/v1/amazon/product": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Get Amazon product details",
        "description": "Retrieve structured product data from an Amazon product page: title, price, rating, review count, images, bullet points, description, and seller info. Accepts an ASIN or a full Amazon product URL.",
        "operationId": "getAmazonProduct",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "asin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ]
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Amazon product data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmazonProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ASIN or request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/product?asin=B08N5WRWNW&country=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/product\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"asin\": \"B08N5WRWNW\", \"country\": \"us\"},\n)\nprint(resp.json()[\"title\"], resp.json()[\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ asin: \"B08N5WRWNW\", country: \"us\" });\nconst product = await fetch(`https://api.scrapio.dev/v1/amazon/product?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nconsole.log(product.title, product.price);"
          }
        ]
      }
    },
    "/v1/amazon/pricing": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Get Amazon offer pricing",
        "description": "Retrieve current offer pricing for an Amazon product, including new, used, and third-party seller listings. Returns price breakdown, condition, and seller metadata.",
        "operationId": "getAmazonPricing",
        "parameters": [
          {
            "name": "asin",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ]
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current offer pricing details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmazonPricingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ASIN or request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/pricing?asin=B08N5WRWNW&country=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/pricing\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"asin\": \"B08N5WRWNW\", \"country\": \"us\"},\n)\nprint(resp.json())"
          }
        ]
      }
    },
    "/v1/amazon/search": {
      "get": {
        "tags": [
          "Amazon"
        ],
        "summary": "Search Amazon",
        "description": "Search Amazon and return structured results for the first page: product titles, ASINs, prices, ratings, and image URLs. For multi-page searches, use the `/v1/amazon/search/crawl` async endpoint.",
        "operationId": "searchAmazon",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "merchant_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pricing"
              ]
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]{2}$"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[a-z]+(?:\\.[a-z]+)?$"
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ]
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Amazon search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AmazonSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Amazon blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Amazon execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/amazon/search?query=wireless+headphones&country=us\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/amazon/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"wireless headphones\", \"country\": \"us\"},\n)\nfor r in resp.json()[\"results\"]:\n    print(r[\"title\"], r[\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ query: \"wireless headphones\", country: \"us\" });\nconst { results } = await fetch(`https://api.scrapio.dev/v1/amazon/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nresults.forEach(r => console.log(r.title, r.price));"
          }
        ]
      }
    },
    "/v1/walmart/search/crawl": {
      "get": {
        "tags": [
          "Walmart"
        ],
        "summary": "Queue a Walmart search crawl job",
        "description": "Submits a large Walmart search crawl as an async job, returning a `job_id` to poll. Use this for multi-page searches beyond what the synchronous search endpoint returns.",
        "operationId": "queueWalmartSearchCrawl",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "delivery_zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "start_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "end_page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "fulfillment_speed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "fulfillment_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ]
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Walmart crawl job queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncFetchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid crawl parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Walmart blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Walmart execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/walmart/search/crawl?query=coffee+maker&max_pages=3\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/walmart/search/crawl\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"coffee maker\", \"max_pages\": 3},\n)\nprint(resp.json()[\"job_id\"])"
          }
        ]
      }
    },
    "/v1/walmart/search": {
      "get": {
        "tags": [
          "Walmart"
        ],
        "summary": "Search Walmart",
        "description": "Search Walmart and return structured results for the first page: product names, item IDs, prices, ratings, and image URLs. For multi-page searches, use the `/v1/walmart/search/crawl` async endpoint.",
        "operationId": "searchWalmart",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "delivery_zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "pages",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "fulfillment_speed",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "fulfillment_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ]
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Walmart search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalmartSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Walmart blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Walmart execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/walmart/search?query=coffee+maker\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/walmart/search\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"query\": \"coffee maker\"},\n)\nfor r in resp.json()[\"results\"]:\n    print(r[\"name\"], r[\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ query: \"coffee maker\" });\nconst { results } = await fetch(`https://api.scrapio.dev/v1/walmart/search?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nresults.forEach(r => console.log(r.name, r.price));"
          }
        ]
      }
    },
    "/v1/walmart/product": {
      "get": {
        "tags": [
          "Walmart"
        ],
        "summary": "Get Walmart product details",
        "description": "Retrieve structured product data from a Walmart product page: name, price, rating, review count, images, description, and seller info. Accepts a Walmart item ID or a full product URL.",
        "operationId": "getWalmartProduct",
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "delivery_zip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "store_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "device",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "desktop",
                "mobile",
                "tablet"
              ]
            }
          },
          {
            "name": "timeout_ms",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Structured Walmart product data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalmartProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid item ID or request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Walmart blocked the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Walmart execution backend unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl \"https://api.scrapio.dev/v1/walmart/product?item_id=44782430\" \\\n  -H \"Authorization: Bearer $SCRAPIO_API_KEY\""
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os, requests\nresp = requests.get(\n    \"https://api.scrapio.dev/v1/walmart/product\",\n    headers={\"Authorization\": f\"Bearer {os.environ['SCRAPIO_API_KEY']}\"},\n    params={\"item_id\": \"44782430\"},\n)\nprint(resp.json()[\"name\"], resp.json()[\"price\"])"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const params = new URLSearchParams({ item_id: \"44782430\" });\nconst product = await fetch(`https://api.scrapio.dev/v1/walmart/product?${params}`, {\n  headers: { Authorization: `Bearer ${process.env.SCRAPIO_API_KEY}` },\n}).then(r => r.json());\nconsole.log(product.name, product.price);"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            },
            "required": [
              "code",
              "message"
            ]
          },
          "diagnostics": {
            "type": "object",
            "properties": {
              "outcome": {
                "type": "string",
                "enum": [
                  "failed"
                ]
              },
              "retryable": {
                "type": "boolean"
              },
              "blocked": {
                "type": "boolean"
              },
              "timed_out": {
                "type": "boolean"
              }
            },
            "required": [
              "outcome",
              "retryable"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "request_id",
          "error"
        ],
        "additionalProperties": false
      },
      "GoogleErrorResponse": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "diagnostics": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "request_id",
          "error"
        ],
        "additionalProperties": false
      },
      "FetchFailureDiagnostics": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "failed"
            ]
          },
          "retryable": {
            "type": "boolean"
          },
          "blocked": {
            "type": "boolean"
          },
          "timed_out": {
            "type": "boolean"
          }
        },
        "required": [
          "outcome",
          "retryable"
        ],
        "additionalProperties": false
      },
      "PartialResultDiagnostics": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "enum": [
              "partial"
            ]
          },
          "output_failures": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "output": {
                  "type": "string",
                  "enum": [
                    "html",
                    "markdown",
                    "json",
                    "screenshot"
                  ]
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
[...]
